{% verbatim %}
<!DOCTYPE html>

<html ng-app="burnItApp">
    <head>
        <link rel="stylesheet" href="static/frontend/bootstrap/4.1.3/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/frontend/burnit/app.css">

        <script src="static/frontend/jquery/3.3.1/jquery-3.3.1.min.js"></script>
        <script src="static/frontend/bootstrap/4.1.3/js/bootstrap.min.js"></script>
        <script src="static/frontend/angular/1.7.3/angular.min.js"></script>
        <script src="static/frontend/burnit/app.module.js"></script>
        <script src="static/frontend/burnit/gallery/gallery.module.js"></script>
        <script src="static/frontend/burnit/gallery/symbol-list/symbol-list.module.js"></script>
        <script src="static/frontend/burnit/gallery/symbol-list/symbol-list.component.js"></script>
    </head>
    <body>
        <h1 class="text-center">Burn IT</h1>
        <div class="container-fluid h-100">
                <symbol-list>
                </symbol-list>
        </div>
    </body>
</html>
{% endverbatim %}